
Saved/Config/Windows/EditorPerProjectUserSettings.ini
Saved/Logs/JamProjectAlpha.log
Saved/Logs/JamProjectAlpha_2.log
Saved/Config/CrashReportClient/UE4CC-Windows-29657F6C4ADE9E082B42AE97D1B892B8/CrashReportClient.ini
Saved/AutoScreenshot.png
Saved/Config/Windows/EditorPerProjectUserSettings.ini
Saved/Logs/
Saved/Config/CrashReportClient/
Intermediate/CachedAssetRegistry.bin
Intermediate/CachedAssetRegistry.bin
Saved/Logs/JamProjectAlpha-backup-2022.09.16-17.08.06.log
